USE [QLCHCL]
GO
/****** Object:  User [ThanhHuy]    Script Date: 10/05/2025 2:36:04 AM ******/
CREATE USER [ThanhHuy] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[CTHD]    Script Date: 10/05/2025 2:36:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHD](
	[SOHD] [nvarchar](40) NOT NULL,
	[MAHANG] [nvarchar](40) NOT NULL,
	[SL] [int] NULL,
	[DONGIA] [float] NULL,
	[GIAMGIA] [float] NULL,
	[THANHTIEN] [money] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [pk_cthd] PRIMARY KEY CLUSTERED 
(
	[SOHD] ASC,
	[MAHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 10/05/2025 2:36:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[SOHD] [nvarchar](40) NOT NULL,
	[MAKH] [nvarchar](40) NULL,
	[MANV] [nvarchar](40) NULL,
	[TRIGIA] [money] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [pk_hd] PRIMARY KEY CLUSTERED 
(
	[SOHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 10/05/2025 2:36:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [nvarchar](40) NOT NULL,
	[HOTEN] [nvarchar](40) NULL,
	[GIOITINHKH] [nvarchar](4) NULL,
	[DCHI] [nvarchar](50) NULL,
	[SODT] [varchar](20) NULL,
	[LOAIKH] [nvarchar](40) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [pk_kh] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIHANG]    Script Date: 10/05/2025 2:36:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIHANG](
	[MALOAI] [nvarchar](40) NOT NULL,
	[TENLOAI] [nvarchar](40) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [pk_lh] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATHANG]    Script Date: 10/05/2025 2:36:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATHANG](
	[MAHANG] [nvarchar](40) NOT NULL,
	[MALOAI] [nvarchar](40) NULL,
	[MANCC] [nvarchar](40) NULL,
	[TENSP] [nvarchar](40) NULL,
	[DVT] [nvarchar](10) NULL,
	[NUOCSX] [nvarchar](20) NULL,
	[GIA] [money] NULL,
	[ANH] [nvarchar](200) NULL,
	[GHICHU] [nvarchar](200) NULL,
	[SOLUONG] [int] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [pk_mathang] PRIMARY KEY CLUSTERED 
(
	[MAHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACC]    Script Date: 10/05/2025 2:36:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACC](
	[MANCC] [nvarchar](40) NOT NULL,
	[TENNCC] [varchar](14) NULL,
	[TENGIAODICH] [varchar](40) NULL,
	[DIACHI] [nvarchar](40) NULL,
	[DIENTHOAI] [varchar](20) NULL,
	[EMAIL] [varchar](50) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [pk_ncc] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 10/05/2025 2:36:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nvarchar](40) NOT NULL,
	[HOTEN] [nvarchar](40) NULL,
	[GIOITINHNV] [nvarchar](4) NULL,
	[SODT] [varchar](20) NULL,
	[LOAINV] [nvarchar](40) NULL,
 CONSTRAINT [pk_nv] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CTHD] ([SOHD], [MAHANG], [SL], [DONGIA], [GIAMGIA], [THANHTIEN], [rowguid]) VALUES (N'FB07052025_084040', N'SP1', 22, 250, 50, 2750.0000, N'3349c352-e42a-f011-a59d-14857fbdd070')
INSERT [dbo].[CTHD] ([SOHD], [MAHANG], [SL], [DONGIA], [GIAMGIA], [THANHTIEN], [rowguid]) VALUES (N'FB28042025_231341', N'SP1', 3, 250, 0, 750.0000, N'82cb13cb-4b24-f011-a59d-14857fbdd070')
GO
INSERT [dbo].[HOADON] ([SOHD], [MAKH], [MANV], [TRIGIA], [rowguid]) VALUES (N'FB07052025_084040', N'kh2', N'NVO2', 2750.0000, N'3249c352-e42a-f011-a59d-14857fbdd070')
INSERT [dbo].[HOADON] ([SOHD], [MAKH], [MANV], [TRIGIA], [rowguid]) VALUES (N'FB28042025_231341', N'kh1', N'NV01', 750.0000, N'81cb13cb-4b24-f011-a59d-14857fbdd070')
GO
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [GIOITINHKH], [DCHI], [SODT], [LOAIKH], [rowguid]) VALUES (N'kh1', N'Lý Phát Đạt', N'Nam', N'Sốc Trăng', N'0123456789', N'Vip', N'fe42809b-2be8-ef11-a579-60189548035b')
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [GIOITINHKH], [DCHI], [SODT], [LOAIKH], [rowguid]) VALUES (N'kh2', N'Lê Khăng Hy', N'Nam', N'Cà Mau', N'09112121212', N'Non', N'db001725-e42a-f011-a59d-14857fbdd070')
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [GIOITINHKH], [DCHI], [SODT], [LOAIKH], [rowguid]) VALUES (N'kh3', N'minh luan', N'Nam', N'soc trang', N'2134567890', N'vip', N'6f88ac44-c8ed-ef11-a57e-60189548035b')
GO
INSERT [dbo].[LOAIHANG] ([MALOAI], [TENLOAI], [rowguid]) VALUES (N'Box', N'Box TV', N'ef27ef18-4a24-f011-a59d-14857fbdd070')
INSERT [dbo].[LOAIHANG] ([MALOAI], [TENLOAI], [rowguid]) VALUES (N'C02', N'Camera', N'2e2e5464-2ae8-ef11-a579-60189548035b')
INSERT [dbo].[LOAIHANG] ([MALOAI], [TENLOAI], [rowguid]) VALUES (N'DT', N'Điện Thoại', N'68528c0f-4a24-f011-a59d-14857fbdd070')
GO
INSERT [dbo].[MATHANG] ([MAHANG], [MALOAI], [MANCC], [TENSP], [DVT], [NUOCSX], [GIA], [ANH], [GHICHU], [SOLUONG], [rowguid]) VALUES (N'SP1', N'C02', N'ncc4', N'Camera360', N'Chiếc', N'Việt Nam', 250.0000, N'C:\Users\MY PC\Downloads\202406130324077981c44d15a0f759b1c1d6b1b398121243254.png', N'Hàng Mới', 75, N'd3597a94-4b24-f011-a59d-14857fbdd070')
GO
INSERT [dbo].[NHACC] ([MANCC], [TENNCC], [TENGIAODICH], [DIACHI], [DIENTHOAI], [EMAIL], [rowguid]) VALUES (N'ncc1', N'Rafel Nadal', N'RN', N'Thổ Nhĩ Kỳ', N'12345678910', N'ND12@gmail.com', N'60215083-2be8-ef11-a579-60189548035b')
INSERT [dbo].[NHACC] ([MANCC], [TENNCC], [TENGIAODICH], [DIACHI], [DIENTHOAI], [EMAIL], [rowguid]) VALUES (N'ncc2', N'Yonex', N'Y', N'Đan Mạch', N'1234567890', N'yex123@gmail.com', N'5b44474e-6bed-ef11-a57e-60189548035b')
INSERT [dbo].[NHACC] ([MANCC], [TENNCC], [TENGIAODICH], [DIACHI], [DIENTHOAI], [EMAIL], [rowguid]) VALUES (N'ncc3', N'Lining', N'LN', N'Trung Quốc', N'1234567890', N'liningCN@gmail.com', N'7b743678-6bed-ef11-a57e-60189548035b')
GO
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [GIOITINHNV], [SODT], [LOAINV]) VALUES (N'NV01', N'Trần Thanh Huy', N'Nam', N'0912330585', N'Quản Lý Cửa Hàng')
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [GIOITINHNV], [SODT], [LOAINV]) VALUES (N'NVO2', N'Lê Khăng Hy', N'Nam', N'1234556789', N'Nhân Viên Giữ Xe')
GO
ALTER TABLE [dbo].[CTHD] ADD  CONSTRAINT [MSmerge_df_rowguid_4E96B22DA9C143DEB450DB62396DDD94]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[HOADON] ADD  CONSTRAINT [MSmerge_df_rowguid_1AD1F34951DD487EBCF9B39ABEF6E10D]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [MSmerge_df_rowguid_995B4597666C47B68C22BBC6B910ECFA]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[LOAIHANG] ADD  CONSTRAINT [MSmerge_df_rowguid_694A818DCED849BE9A475EA0DA2C4463]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[MATHANG] ADD  CONSTRAINT [MSmerge_df_rowguid_98F46EA2B9B144D3BEB25133521526EC]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[NHACC] ADD  CONSTRAINT [MSmerge_df_rowguid_56E51F90B2D344459BAF9F92D99515C1]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [fk01_CTHD] FOREIGN KEY([SOHD])
REFERENCES [dbo].[HOADON] ([SOHD])
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [fk01_CTHD]
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [fk02_CTHD] FOREIGN KEY([MAHANG])
REFERENCES [dbo].[MATHANG] ([MAHANG])
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [fk02_CTHD]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [fk01_HD] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [fk01_HD]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [fk02_HD] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [fk02_HD]
GO
ALTER TABLE [dbo].[MATHANG]  WITH CHECK ADD  CONSTRAINT [FK_MH_LH] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAIHANG] ([MALOAI])
GO
ALTER TABLE [dbo].[MATHANG] CHECK CONSTRAINT [FK_MH_LH]
GO
ALTER TABLE [dbo].[MATHANG]  WITH CHECK ADD  CONSTRAINT [FK_MH_NCC] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACC] ([MANCC])
GO
ALTER TABLE [dbo].[MATHANG] CHECK CONSTRAINT [FK_MH_NCC]
GO
